<ion-title class="top-title">{{ "LOGIN" | translate }}</ion-title>
<ion-header class="top-header">
	<ion-navbar>
		<ion-grid>
			<ion-row align-items-center>
				<ion-col text-right>
					<img src="assets/imgs/logo1.png" class="top-logo"/>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-navbar>
</ion-header>
<ion-content class="pageBackground" padding>
	<ion-grid>
		<ion-row>
			<ion-col>
				<div class="login-form">
					<form [formGroup]="loginForm" (ngSubmit)="authenticateUser()">
						<ion-list>
							<ion-item *ngIf="authOption == appConfig.AUTH_OPTIONS.DEFAULT.ID">
								<ion-label stacked>{{ "EMAIL" | translate }}</ion-label>
								<ion-input type="email" formControlName="userName"></ion-input>
							</ion-item>
							<ion-item *ngIf="authOption == appConfig.AUTH_OPTIONS.DEFAULT.ID">
								<ion-label stacked>{{ "PASSWORD" | translate }}</ion-label>
								<ion-input type="password" formControlName="password"></ion-input>
							</ion-item>
							<span class="error-message" *ngIf="isLoginFormError">{{isLoginFormErrorMessage}}</span>
							<ion-item>
								<button color="default1" ion-button block class="btn-login btn-default-dbg" type="submit" [disabled]="!loginForm.valid">{{ "LOGIN" | translate }}</button>
							</ion-item>
						</ion-list>
					</form>
					<p text-center class="login-seperation">
						{{ "OR" | translate }}
					</p>
					<ion-list>
						<ion-item>
							<button class="btn-login" ion-button color="danger" (click)="socialLogin('G_PLUS')" block>
								<ion-icon name="logo-google"></ion-icon>{{ 'LOGIN_WITH_GOOGLE' | translate }}
							</button>
						</ion-item>

						<ion-item>
							<button class="btn-login" ion-button color="default" (click)="socialLogin('FB')" block>
								<ion-icon name="logo-facebook"></ion-icon>{{ "LOGIN_WITH_FACEBOOK" | translate }}
							</button>
						</ion-item>
					</ion-list>
					<div class="forgot-password-wrap" text-left><button (click)="proceed('ForgotPasswordPage')">{{ "FORGOT_PASSWORD_?" | translate }}</button></div>
				</div>
			</ion-col>
		</ion-row>
		<ion-row *ngIf="isRegisterEnabled">
			<ion-col>
				<div class="existingUser-Login" text-left>{{ "NEW_TO_MINI_LOANS" | translate }} <button (click)="proceed('RegisterPage')">{{ "REGISTER_HERE" | translate }}</button></div>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
