<ion-title class="top-title">{{ "FORGOT_PASSWORD" | translate }}</ion-title>
<ion-header class="top-header">
  <ion-navbar>
    <ion-grid>
      <ion-row align-items-center>
        <ion-col text-right>
          <img src="assets/imgs/logo1.png" class="top-logo"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content class="pageBackground" padding>
  <div class="step-message request-form">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="requestForgotPassword()">
      <ion-list>
        <ion-item>
          <ion-label stacked>{{ "ENTER_EMAIL_ADDRESS" | translate }}</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="forgotPasswordFormSubmitted">
          <span class="error-message" *ngIf="forgotPasswordForm.get('email').hasError('required')">{{'REQUIRED_ERROR' | translate}}</span>
          <span class="error-message" *ngIf="!forgotPasswordForm.get('email').hasError('required') && forgotPasswordForm.get('email').hasError('invalidEmailAddress')">{{'INVALID_EMAIL' | translate}}</span>
        </div>
        <span class="error-message" *ngIf="forgotPasswordError">{{ "ACCOUNT_DOES_NOT_EXIST" | translate }}</span>
        <span class="error-message green" *ngIf="forgotPasswordRequested">{{ "FORGOT_PASSWORD_SUCCESS" | translate }}</span>
        <div text-center="">
          <button color="default1" class="btn-default" ion-button type="submit">
            {{ "REQUEST_PASSWORD" | translate }}
          </button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
