<ion-title class="top-title">{{ "CHANGE_PASSWORD" | translate }}</ion-title>
<ion-header class="top-header">
  <ion-navbar>
    <ion-grid>
      <ion-row align-items-center>
        <ion-col text-right>
          <img src="assets/imgs/logo1.png" class="top-logo"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content class="pageBackground" padding>
  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
    <ion-list class="list-changePassword">
      <ion-item>
        <ion-label stacked>{{ "CURRENT_PASSWORD" | translate }}</ion-label>
        <ion-input [type]="showPassword.CurrentPassword ? 'text' : 'password'" [formControlName]="'CurrentPassword'"></ion-input>
        <div item-content >
          <ion-icon name="eye" (click)="showHidePassword('CurrentPassword')" [color]="showPassword.CurrentPassword ? 'primary' : 'light'"></ion-icon>
        </div>
      </ion-item>
      <span class="error-message" *ngIf="changePasswordForm.get('CurrentPassword').hasError('error_msg')">{{changePasswordForm.get('CurrentPassword').getError('error_msg')}}</span>

      <ion-item>
        <ion-label stacked>{{ "NEW_PASSWORD" | translate }}</ion-label>
        <ion-input [type]="showPassword.ChangedPassword ? 'text' : 'password'" [formControlName]="'ChangedPassword'"></ion-input>
        <div item-content >
          <ion-icon name="eye" (click)="showHidePassword('ChangedPassword')" [color]="showPassword.ChangedPassword ? 'primary' : 'light'"></ion-icon>
        </div>
      </ion-item>
      <span class="error-message" *ngIf="changePasswordForm.get('ChangedPassword').hasError('error_msg')">{{changePasswordForm.get('ChangedPassword').getError('error_msg')}}</span>

      <ion-item>
        <ion-label stacked>{{ "CONFIRM_PASSWORD" | translate }}</ion-label>
        <ion-input [type]="showPassword.ConfirmChangedPassword ? 'text' : 'password'" [formControlName]="'ConfirmChangedPassword'"></ion-input>
        <div item-content >
          <ion-icon name="eye" (click)="showHidePassword('ConfirmChangedPassword')" [color]="showPassword.ConfirmChangedPassword ? 'primary' : 'light'"></ion-icon>
        </div>
      </ion-item>
      <span class="error-message" *ngIf="changePasswordForm.get('ConfirmChangedPassword').hasError('error_msg')">{{changePasswordForm.get('ConfirmChangedPassword').getError('error_msg')}}</span>

      <div>
        <button color="default1" class="btn-default-dbg" ion-button block type="submit" [disabled]="!changePasswordForm.valid">
          {{ "CHANGE_PASSWORD" | translate }}
        </button>
      </div>

      <span class="error-message green" *ngIf="changePasswordSuccessMessage">{{'CHANGE_PASSWORD_SUCCESSFUL' | translate}}</span>
    </ion-list>
  </form>
</ion-content>
