page-change-password {
  .list-changePassword ion-icon{
    /*font-size: 28px;*/
    position: absolute;
    right: 18px;
    top: 24px;
    z-index: 999999;
    font-size: 1.8em;
  }

  .list .item .item-inner .input input{
    width: calc(100% - 60px);
  }

  /*.list-changePassword ion-input input{
    width: calc(100% - 35px)!important;
    float: left;
  }*/
}
