<ion-title class="top-title">{{ "MY_LOANS" | translate }}</ion-title>
<ion-header class="top-header">
  <ion-navbar>
    <ion-grid>
      <ion-row align-items-center>
        <ion-col text-right>
          <img src="assets/imgs/logo1.png" class="top-logo"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content class="pageBackground" padding>
  <ion-list class="accordian-list">
    <ion-item detail-none  *ngFor="let loan of myLoans">
      <div class="accordian-wrap">
        <p (click)="expandItem(loan)" ion-item><ion-icon class="accordian-arrow" name="arrow-dropdown"></ion-icon>
          {{ "LOAN" | translate }} {{loan.LoanNo}} (<span class="{{!loan.ShownToExternal && loan.StatusId==2 ? 'highlighter' : ''}} {{loan.StatusId==10 ? 'highlightReject' : ''}} {{loan.ShownToExternal && loan.StatusId==2 ? 'highlightApproved' : ''}} {{loan.StatusId==14 ? 'highlightInprogress' : ''}}">{{loan.status}}</span>)
        </p>
        <expandable [expandHeight]="itemExpandHeight" [expanded]="loan.expanded">
          <div class="accordian-details">
            <table class="table-myLoans">
              <tbody>
              <tr>
                <td>{{ "LOAN_AMOUNT" | translate }}</td>
                <td>{{ "RS" | translate }} {{loan.RequestedAmount | number: '1.2-2' }}</td>
              </tr>
              <tr>
                <td>{{ "PURPOSE_OF_LOAN" | translate }}</td>
                <td>{{loan.RequestType}}</td>
              </tr>
              <!--<tr>-->
              <!--<td>{{ "TYPE_OF_INCOME" | translate }}</td>-->
              <!--<td>{{loan.IncomeType}}</td>-->
              <!--</tr>-->
              <tr>
                <td>{{ "SENT_TO_BANKS" | translate }}</td>
                <td>
                  <span *ngIf="loan.ShownToExternal">{{ "YES" | translate }}</span>
                  <span *ngIf="!loan.ShownToExternal">{{ "NO_NEED_ADDITIONAL" | translate }}</span>
                </td>
              </tr>
              <!--<tr>-->
              <!--<tr [hidden]="loan.StatusId == appConfig.GeneralStatuses.REJECTED">-->
              <!--<td>{{ "AMOUNT_ON_SCHEDULED_DATE" | translate }}</td>-->
              <!--<td>{{ "RS" | translate }} {{ loan.DueAmount | number: '1.2-2' }}</td>-->
              <!--</tr>-->
              <!--<tr [hidden]="loan.StatusId != appConfig.GeneralStatuses.SETTLED && loan.StatusId != appConfig.GeneralStatuses.CLOSED">-->
              <!--<td>{{ "ACTUAL_PAYMENT_DATE" | translate }}</td>-->
              <!--<td>{{ loan.PaymentDate | date:"yyyy-MM-dd" }}</td>-->
              <!--</tr>-->
              <!--<tr [hidden]="loan.StatusId != appConfig.GeneralStatuses.SETTLED && loan.StatusId != appConfig.GeneralStatuses.CLOSED">-->
              <!--<td>{{ "ACTUAL_PAYMENT_AMOUNT" | translate }}</td>-->
              <!--<td>{{ "RS" | translate }} {{ loan.PaymentAmount | number: '1.2-2' }}</td>-->
              <!--</tr>-->
              <!--Fields End-->
              </tbody>
            </table>
            <ion-row>
              <button ion-button small block color="default1" class="btn-default" (click)="myLoanDetails(loan)">
                {{ "VIEW_DETAILS" | translate }}
              </button>

              <button ion-button small block color="default1" class="btn-default" (click)="additionalDetails(loan)" *ngIf="!loan.ShownToExternal && loan.StatusId==2" >
                {{ "FILL_ADDITIONAL_DETAILS" | translate }}
              </button>
            </ion-row>
          </div>
        </expandable>
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)"  [threshold]="config.infiniteScrollThreshold">
    <!--<ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())"> For async calls-->
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
